# History files
.Rhistory
.Rpp.history

# Session Data files
.RData
.RDataTmp


# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


# RStudio Connect folder
rsconnect/

# slurm output
*.log
*.out

# data, outputs
data/
logs/
results*/

# Snakemake files
.snakemake/*
*.pdf
*.png
*.html
workflow/archive/

