# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# Output files from R CMD build
/*.tar.gz

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# slurm output
slurm*
*.out

# data, outputs
genotype/
phenotype/
annotation/
data/
output/

# Snakemake files
.snakemake/*

*.pdf

